.fullWidthQuestion{
    width: 80%;
    margin-left: 10%;
}


// .questionsBlock{
//     margin-top: 10%;
// }

.chooseQuestionCategorie{
    width: 50%;
    margin-left: 10%;

}

.coefPointsReponseQuestion{
    margin-left: 5%;
}

.reponseTexte{
    width: 50%;
    margin-left: 10%;
}

.reponsePoints{
    width: 10%;
    margin-left: 5%;
    // margin-right: 2%;
}

.removeResponseButton{
    margin-left: 10%;
    color: red;
    border-color: red;
}

.addResponseButton{
    color: green;
    border-color: green;
    margin-left: 10%;
}

.bottomButtons{
    margin-top: 10%;
}