<h2 mat-dialog-title>Ajouter une question</h2>
<h3>Veuillez remplir tous les champs ci-dessous pour créer une nouvelle question.</h3>

<mat-dialog-content class="mat-typography">

    <div class="questionsBlock">

        <mat-form-field appearance="legacy" class="chooseQuestionCategorie">
            <mat-label>Catégorie de la question</mat-label>
            <mat-select>
                <mat-option value="option">identité de l'entreprise</mat-option>
                <mat-option value="option">Reseau social</mat-option>
                <mat-option value="option">Autre </mat-option>
                <mat-option value="option">Encore autre</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="coefPointsReponseQuestion">
            <mat-label>Coefficient de la question</mat-label>
            <input matInput type="number" placeholder="Ex. 4" min="1">
            <!-- <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="legacy" class="fullWidthQuestion">
            <mat-label>Intitulé exact de la question</mat-label>
            <input matInput placeholder="Ex: Sur quels réseaux sociaux êtes vous présent?">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="fullWidthQuestion">
            <mat-label>Type de la question</mat-label>
            <mat-select>
                <mat-option value="option">Question à choix multiple</mat-option>
                <mat-option value="option">Question à choix unique</mat-option>
                <mat-option value="option">Question à choix </mat-option>
                <mat-option value="option">Question à choix multiple</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="legacy" class="fullWidthQuestion">
            <mat-label>Type de la question</mat-label>
            <mat-select>
                <mat-option value="option">Question à choix multiple</mat-option>
                <mat-option value="option">Question à choix unique</mat-option>
                <mat-option value="option">Question à choix </mat-option>
                <mat-option value="option">Question à choix multiple</mat-option>
            </mat-select>
        </mat-form-field> -->

        <h3>Maintenant, renseignez les réponses possibles à la question, ainsi que le nombre de points que ferait gagner
            chaque réponse.</h3>

        <!-- <mat-form-field appearance="fill" [color]="colorControl.value">
            <mat-label>Font size</mat-label>
            <input matInput type="number" placeholder="Ex. 12" [formControl]="fontSizeControl" min="10">
            <span matSuffix>px</span>
            <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error>
        </mat-form-field> -->


        <!-- <div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
            <div [formGroupName]="i">
                <input formControlName="name" placeholder="Item name">
                <input formControlName="description" placeholder="Item description">
                <input formControlName="price" placeholder="Item price">
            </div>

            Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
        </div> -->

        <div *ngFor="let reponse of reponses; let i = index">
            <!-- <input type="text" [(ngModel)]="reponse.value" #name="ngModel" name="reponse{{i}}"> -->
            <mat-form-field appearance="legacy" class="reponseTexte">
                <mat-label>Réponse possible</mat-label>
                <input matInput placeholder="Ex: Linkedin" [(ngModel)]="reponse.value">
                <!-- <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error> -->
                
            </mat-form-field>

            <mat-form-field appearance="legacy" class="reponsePoints">
                <mat-label>Nb points</mat-label>
                <input matInput type="number" [(ngModel)]="reponse.coef">
                <!-- <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error> -->
            </mat-form-field>
    
            <button class="removeResponseButton" (click)="removeReponse(i)">Supprimer</button>
        </div>

        <button class="addResponseButton" (click)="addReponse()">Ajouter une réponse</button>

        <!-- <h2>Result</h2>
        <div *ngFor="let reponse of reponses;">
            {{ reponse.value }}  coef:   {{ reponse.coef }}
        </div> -->

    </div>

    


</mat-dialog-content>
<mat-dialog-actions align="end" class="bottomButtons">
    <button mat-button mat-dialog-close style="background-color: rgb(255, 116, 116);">Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addConfirm()"
        style="background-color: rgb(128, 255, 116);">Ajouter</button>
</mat-dialog-actions>