// mwl-gauge > .gauge > .value-text {
//     fill: rgb(47, 227, 255) !important;
//     font-family: sans-serif;
//     font-weight: bold;
//     font-size: 1em;
// }

// #gauge7 > svg > text {
//     fill: rgb(230, 255, 3) !important;
//     font-family: sans-serif;
//     font-weight: bold;
//     font-size: 1em;
// }



.allPage{
    width: 99%;
    height: 100%;
    // background-color: #707070;
}

.leftScreen{
  // height: 100%;
  background-color: #707070;
}

  .rightScreen{
    height: 100%;
    background-color: white;
  }
