
<div style="background-color: rgb(235, 235, 235); height:100%">
    <div class="row justify-content-center" >

        <div class="col-lg-10 pageTitle">
            Gestion des questions
        </div>
    </div>

    <div class="row">

        <div class="col-lg-5 offset-lg-1 addRemoveButtons "  (click)="addQuestionModalClick()">
            <button type="button" class="btn addButton btn-lg">
                <span class="material-icons">
                    add
                </span>
                </button>
        </div>

        <div class="col-lg-4 addRemoveButtons " (click)="removeQuestionModalClick()">
            <button type="button" class="btn removeButton btn-lg">
                <span class="material-icons">
                    remove
                </span>
                </button>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-5 offset-lg-1 addText">
            Ajouter une question
        </div>

        <div class="col-lg-4 removeText ">
            Supprimer une question
        </div>
    </div>
</div>



